@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #74C69D;
    --secondary-color: #FFFFFF;
    --third-color: #000000;

    --primary-font: 'Crimson Text';
    --secondary-font: 'Work Sans';
}